<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/style.css') }}">
    <title>checkerboard</title>
</head>
<body>
    <div class="container; flex; center">
        <div>
            <h1>** Checkerboard **</h1>
            {% for x in range(0, num) %}
            <table>
                <tr>
                    <td class="color1"></td>
                    <td class="color2"></td>
                    <td class="color1"></td>
                    <td class="color2"></td>
                    <td class="color1"></td>
                    <td class="color2"></td>
                </tr>
                <tr>
                    <td class="color2"></td>
                    <td class="color1"></td>
                    <td class="color2"></td>
                    <td class="color1"></td>
                    <td class="color2"></td>
                    <td class="color1"></td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>
</body>
</html>