<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/style.css') }}">
    <title>checkerboard2</title>
</head>
<body>
    <div class="container; flex; center">
        <div>
            <h1>** Checkerboard **</h1>
            <table>
                {% for y in range(num): %}
                <tr>
                    {% for x in range(num): %}
                    <td class="color{{ (y+x)%2 + 1 }}">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <!-- <tr>
                    <td class="color2"></td>
                    <td class="color1"></td>
                    <td class="color2"></td>
                    <td class="color1"></td>
                    <td class="color2"></td>
                    <td class="color1"></td>
                </tr> -->
            </table>
        </div>
    </div>
</body>
</html>